.logo-container {
  width: 300px;
  height: 250px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .logo {
    width: 50px;
    height: 50px;
  }
  .input-field {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  label {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  input {
    margin-left: auto;
  }
}
